<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.foodmunch">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Foodmunch">
        <activity
            android:name=".Orders"
            android:exported="true" />
        <activity
            android:name=".ShopItemList"
            android:exported="true" />
        <activity
            android:name=".ItemDetails"
            android:exported="true" />
        <activity
            android:name=".AddItem"
            android:exported="true" />
        <activity
            android:name=".MyProfile"
            android:exported="true" />
        <activity
            android:name=".MyShop"
            android:exported="true" />
        <activity
            android:name=".MyCart"
            android:exported="true" />
        <activity
            android:name=".LoginNow"
            android:exported="true" />
        <activity
            android:name=".HomePage"
            android:exported="true" />
        <activity
            android:name=".UserOrSeller"
            android:exported="true" />
        <activity
            android:name=".RegisterNow"
            android:exported="true" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>